numpy>=1.18.3
pandas>=1.0.3
numexpr>=2.6.2
pandas_datareader>=0.8.0
requests
seaborn>=0.9.0
matplotlib
flask
pytz<2020.0,>=2019.3
git+https://github.com/robinhood-unofficial/pyrh.git#egg=pyrh
git+https://github.com/quantopian/empyrical
git+https://github.com/czielinski/portfolioopt