<!doctype html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/main.css">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <!-- Wrap all page content here -->
  <div class="wrapper">
    <!-- Begin page content -->
    <main id="content" role="main" class="container">
      {% block content %}{% endblock %}
    </main>
  </div>

  <div class="footer">
    <div class="container">
      <span>&copy; 2017 Robinhood portfolio analyzer</span>
    </div>
  </div>

  <script type="text/javascript">
    function toggleVisibility(selector) {
     var e = document.querySelectorAll(selector)[0];
     if (e.style.display){
      e.style.display = '';
    }
    else
      e.style.display = 'none';
  }

  function hideAllText() {
    var list = document.querySelectorAll('p');
    for (x in list) {
      if (list[x].style.display === 'none') {
        list[x].style.display = 'block';
      } else {
        list[x].style.display = 'none';
      }
    }
  }

  var modal = document.getElementById('myModal');
  var btn = document.getElementById('openLogin');
  var span = document.getElementsByClassName('close-modal')[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</body>
</html>